.table-dropbutton a.tabledrag-handle {
  margin-left: -40px;
}

.table-dropbutton td {
  padding: 10px 32px;
}

.dropbutton-as-modal-dialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  padding: 5vh 5vw;
}

.dropbutton-as-modal-dialog.active {
  opacity: 1;
  pointer-events: auto;
}

.dropbutton-as-modal-dialog > div {
  width: 95%;
  position: relative;
  padding: 5px 20px 13px 20px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 1px 1px 61px #0000006e;
}

.dropbutton-as-modal-dialog .dropbutton-as-modal-dialog-search {
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: block;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.dropbutton-as-modal-dialog-close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.dropbutton-as-modal-dialog-close:hover {
  font-weight: bold;
}

.dropbutton-as-modal-dialog-results::-webkit-scrollbar {
  display: none;
}

.dropbutton-as-modal-dialog-results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-height: 70vh;
  overflow: auto;
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col {
  flex: 0 0 100%;
  height: 300px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  margin: 8px;
  box-sizing: border-box;
  position: relative;
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
  -moz-box-shadow: inset 0 0 10px #a8a9b5;
  -webkit-box-shadow: inset 0 0 10px #a8a9b5;
  box-shadow: inset 0 0 10px #a8a9b5;
  transition: all 100ms ease-in-out;
  transform-origin: center center;
  overflow: hidden;
  opacity: 1;
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col:hover .img {
  background-size: 105%;
  opacity: .8;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="1"] {
  flex: 0 0 calc(100% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="2"] {
  flex: 0 0 calc(50% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="3"] {
  flex: 0 0 calc(33.33% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="4"] {
  flex: 0 0 calc(25% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="5"] {
  flex: 0 0 calc(20% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="6"] {
  flex: 0 0 calc(16.66% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="7"] {
  flex: 0 0 calc(14.28% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="8"] {
  flex: 0 0 calc(12.50% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="9"] {
  flex: 0 0 calc(11.11% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col[data-col="10"] {
  flex: 0 0 calc(10% - 16px);
}

.dropbutton-as-modal-dialog-results .dropbutton-as-modal-dialog-col p {
  font-size: 22px;
  color: black;
  text-shadow: 1px 1px black;
  position: relative;
  z-index: 2;
  text-align: center;
}
